html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    direction: rtl;
    background:var(--bg);
    color:var(--text);
    line-height: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

:root {
  --prime:#0B1725;
  --second:#29B6AB;
  --text:#2C3639;
  --bg: #DFF6FF;
  --navHeight:100px;
}
